@layer components {
  /* Cards */

  .pc-card {
    @apply flex flex-wrap overflow-hidden bg-white dark:bg-gray-800;
  }
  .pc-card__inner {
    @apply flex flex-col w-full max-w-full;
  }
  .pc-card--basic {
    @apply border border-gray-200 rounded-lg shadow-lg dark:shadow-2xl dark:border-none;
  }
  .pc-card--outline {
    @apply border border-gray-300 rounded-lg dark:border-gray-600;
  }

  /* Cards - content */

  .pc-card__content {
    @apply flex-1 p-6 text-base font-light text-gray-500 dark:text-gray-400;
  }
  .pc-card__category {
    @apply mb-3 text-sm font-medium;
  }
  .pc-card__category--primary {
    @apply text-primary-600 dark:text-primary-400;
  }
  .pc-card__heading {
    @apply mb-2 text-xl font-medium text-gray-900 dark:text-gray-300;
  }

  /* Cards - with media */

  .pc-card__image {
    @apply shrink-0 object-cover w-full;
  }
  .pc-card__image-placeholder {
    @apply shrink-0 w-full bg-gray-300 dark:bg-gray-700;
  }

  /* Cards - footer */

  .pc-card__footer {
    @apply px-6 pb-6;
  }
}
