@layer components {
  /* Progress */

  .pc-progress {
    @apply flex overflow-hidden;
  }
  .pc-progress__inner {
    @apply flex flex-col justify-center;
  }

  /* Progress - label (xl only) */

  .pc-progress__label {
    @apply px-4 text-xs font-normal leading-6 text-center text-white whitespace-nowrap;
  }

  /* Progress - sizes */

  .pc-progress--xs {
    @apply h-1 rounded-xs;
  }
  .pc-progress--sm {
    @apply h-2 rounded-sm;
  }
  .pc-progress--md {
    @apply h-3 rounded-md;
  }
  .pc-progress--lg {
    @apply h-4 rounded-lg;
  }
  .pc-progress--xl {
    @apply h-5 rounded-xl;
  }

  /* Progress - colors */

  .pc-progress--primary {
    @apply bg-primary-100 dark:bg-primary-900;
  }
  .pc-progress--secondary {
    @apply bg-secondary-100 dark:bg-secondary-900;
  }
  .pc-progress--info {
    @apply bg-info-100 dark:bg-info-900;
  }
  .pc-progress--success {
    @apply bg-success-100 dark:bg-success-900;
  }
  .pc-progress--warning {
    @apply bg-warning-100 dark:bg-warning-900;
  }
  .pc-progress--danger {
    @apply bg-danger-100 dark:bg-danger-900;
  }
  .pc-progress--gray {
    @apply bg-gray-100 dark:bg-gray-900;
  }
  .pc-progress__inner--primary {
    @apply bg-primary-500;
  }
  .pc-progress__inner--secondary {
    @apply bg-secondary-500;
  }
  .pc-progress__inner--info {
    @apply bg-info-500;
  }
  .pc-progress__inner--success {
    @apply bg-success-500;
  }
  .pc-progress__inner--warning {
    @apply bg-warning-500;
  }
  .pc-progress__inner--danger {
    @apply bg-danger-500;
  }
  .pc-progress__inner--gray {
    @apply bg-gray-500;
  }
}
