/* Skeleton */

.pc-skeleton {
  @apply animate-pulse;
}

/* Default Skeleton */
.pc-skeleton--default {
  @apply animate-pulse;
  @apply max-w-sm;
}

.pc-skeleton--default__line {
  @apply bg-gray-200 rounded-full dark:bg-gray-700;
}

.pc-skeleton--default__line--h-2 {
  @apply h-2;
}

.pc-skeleton--default__line--h-2\.5 {
  @apply h-2.5;
}

.pc-skeleton--default__line--w-48 {
  @apply w-48;
}

.pc-skeleton--default__line--mb-4 {
  @apply mb-4;
}

.pc-skeleton--default__line--mb-2\.5 {
  @apply mb-2.5;
}

.pc-skeleton--default__line--max-w-360px {
  @apply max-w-[360px];
}

.pc-skeleton--default__line--max-w-330px {
  @apply max-w-[330px];
}

.pc-skeleton--default__line--max-w-300px {
  @apply max-w-[300px];
}

/* Image Skeleton */
.pc-skeleton--image {
  @apply animate-pulse;
  @apply space-y-8 md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center;
}

.pc-skeleton--image__image-placeholder {
  @apply flex items-center justify-center w-full h-48 bg-gray-300 rounded-sm sm:w-96 dark:bg-gray-700;
}

.pc-skeleton--image__icon {
  @apply w-10 h-10 text-gray-200 dark:text-gray-600;
}

.pc-skeleton--image__content {
  @apply w-full;
}

/* Repeat similar classes for lines inside the image skeleton */
.pc-skeleton--image__line {
  @apply bg-gray-200 rounded-full dark:bg-gray-700;
}

.pc-skeleton--image__line--h-2 {
  @apply h-2;
}

.pc-skeleton--image__line--h-2\.5 {
  @apply h-2.5;
}

.pc-skeleton--image__line--w-48 {
  @apply w-48;
}

.pc-skeleton--image__line--mb-4 {
  @apply mb-4;
}

.pc-skeleton--image__line--mb-2\.5 {
  @apply mb-2.5;
}

.pc-skeleton--image__line--max-w-480px {
  @apply max-w-[480px];
}

.pc-skeleton--image__line--max-w-440px {
  @apply max-w-[440px];
}

.pc-skeleton--image__line--max-w-460px {
  @apply max-w-[460px];
}

.pc-skeleton--image__line--max-w-360px {
  @apply max-w-[360px];
}

/* Video Skeleton */
.pc-skeleton--video {
  @apply animate-pulse;
  @apply flex items-center justify-center h-56 max-w-sm bg-gray-300 rounded-lg dark:bg-gray-700;
}

.pc-skeleton--video__icon {
  @apply w-10 h-10 text-gray-200 dark:text-gray-600;
}

/* Text Skeleton */
.pc-skeleton--text {
  @apply animate-pulse;
  @apply space-y-2.5 max-w-lg;
}

.pc-skeleton--text__line-group {
  @apply flex items-center w-full;
}

.pc-skeleton--text__line-group--max-w-480px {
  @apply max-w-[480px];
}

.pc-skeleton--text__line-group--max-w-400px {
  @apply max-w-[400px];
}

.pc-skeleton--text__line-group--max-w-440px {
  @apply max-w-[440px];
}

.pc-skeleton--text__line-group--max-w-360px {
  @apply max-w-[360px];
}

.pc-skeleton--text__block {
  @apply h-2.5 bg-gray-200 rounded-full dark:bg-gray-700;
}

.pc-skeleton--text__block--bg-gray-300 {
  @apply bg-gray-300 dark:bg-gray-600;
}

.pc-skeleton--text__block--w-32 {
  @apply w-32;
}

.pc-skeleton--text__block--w-24 {
  @apply w-24;
}

.pc-skeleton--text__block--w-full {
  @apply w-full;
}

.pc-skeleton--text__block--w-80 {
  @apply w-80;
}

.pc-skeleton--text__block--ms-2 {
  @apply ms-2;
}

/* Card Skeleton */
.pc-skeleton--card {
  @apply animate-pulse;
  @apply max-w-sm p-4 border border-gray-200 rounded-sm shadow-sm md:p-6 dark:border-gray-700;
}

.pc-skeleton--card__image-placeholder {
  @apply flex items-center justify-center h-48 mb-4 bg-gray-300 rounded-sm dark:bg-gray-700;
}

.pc-skeleton--card__icon {
  @apply w-10 h-10 text-gray-200 dark:text-gray-600;
}

.pc-skeleton--card__line {
  @apply bg-gray-200 rounded-full dark:bg-gray-700;
}

.pc-skeleton--card__line--h-2\.5 {
  @apply h-2.5 w-48;
}

.pc-skeleton--card__line--h-2 {
  @apply h-2;
}

.pc-skeleton--card__line--mb-4 {
  @apply mb-4;
}

.pc-skeleton--card__line--mb-2\.5 {
  @apply mb-2.5;
}

.pc-skeleton--card__avatar {
  @apply flex items-center mt-4;
}

.pc-skeleton--card__avatar-icon {
  @apply w-10 h-10 text-gray-200 me-3 dark:text-gray-700;
}

.pc-skeleton--card__avatar-text {
  @apply h-2.5 bg-gray-200 rounded-full dark:bg-gray-700;
}

.pc-skeleton--card__avatar-text--w-32 {
  @apply w-32 mb-2;
}

.pc-skeleton--card__avatar-text--w-48 {
  @apply w-48 h-2;
}
